#main_svg {
	height: 50vh;
	border-color: blue;
	border-style: solid;
	border-width: 1px;
}

#menubar {
    height: 60px;
    border-bottom-width: 1px;
    border-bottom-color: gray;
    margin: 0 auto;
    white-space: nowrap;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    text-align: center;
    position: relative;
    padding-top: 20px;
    width: 100%;
}

.main-header-logo {
    color: #353940;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 16px;
    cursor: pointer;
    margin-right: 40px;
}

.header-menu-item a {
    width: auto;
    height: 60px;
    overflow: hidden;
    padding: 15px 10px;
    cursor: pointer;
    letter-spacing: 0.2px;
    color: #6E7480;
}

#selectors {
	display: table;
	margin: 25px auto;
}

.selectorNum {
	color: cornflowerblue;
    font-size: 18pt;
    border-color: cornflowerblue;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    padding: 5px 13px;
}

.select2 {
    min-width: 150px;
}